.container {
    margin: 115px auto 70px;
    max-width: var(--content-size);
    display: flex;
    gap: 110px;
}
.user_info {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.titile {
    color: var(--dark-color);
    font-size: 44px;
    font-weight: 700;
    line-height: 60px;
}
.descr {
    color: var(--dark-color);
    font-size: 16px;
    font-weight: 400;
}

/* adaptive */

@media (max-width: 900px) {
    .container {
        max-width: var(--content-size-mob);
        gap: 35px;
    }
}

@media (max-width: 700px) {
    .container {
        flex-direction: column-reverse;
        align-items: center;
        margin: 35px auto 60px;
    }
    .user_info {
        align-items: center;
    }
    .titile {
        text-align: center;
        font-size: 32px;
        font-weight: 700;
        line-height: 40px;
    }
    .descr {
        text-align: center;
    }
}

