.btn{
    border-radius: 2px;
    background: var(--primary);
    border: none;
    outline: none;
    padding: 10px 20px;
    width: max-content;
    cursor: pointer;

    color: #fff;
    font-size: 20px;
    font-weight: 500;
}