.container {
    max-width: var(--content-size);
    margin: 0 auto;
    padding: 25px 0 80px;
}
.title {
    color: var(--dark-color);
    font-size: 22px;
    font-weight: 400;
    line-height: 60px;
    margin-bottom: 22px;
}
.works_wrapper{
    display: flex;
    flex-direction: column;
    gap: 30px;
}