.header {
    width: 100%;
    height: var(--header-height);
}
.container {
    display: flex;
    justify-content: end;
    margin: 0 auto;
    max-width: var(--main-size);
}
.burger {
    display: none;
}

/* adaptive */

@media (max-width: 700px) {
    .header {
        height: var(--header-height-mob);
        width: 100%;
        position: fixed;
        top: 0;
        background: #fff;
    }
    .container {
        max-width: 90%;
        align-items: center;
        justify-content: end;
        height: 100%;
    }
    .burger {
        display: block;
        cursor: pointer;
    }
}
