.header {
    width: 100%;
    height: var(--header-height);
}
.container {
    display: flex;
    justify-content: end;
    margin: 0 auto;
    max-width: var(--main-size);
}
.nav {
    padding: 25px 60px;
    display: flex;
    gap: 30px;
}
.nav_link {
    color: #000;
    text-align: right;
    font-size: 20px;
    font-weight: 500;
}
.active {
    color: var(--primary);
}
.menu {
    display: none;
}

/* adaptive */

@media (max-width: 700px) {
    .header {
        height: var(--header-height-mob);
    }
    .container {
        max-width: 90%;
        align-items: center;
        justify-content: end;
        height: 100%;
    }
    .menu {
        display: block;
    }
    .nav {
        display: none;
    }
}
