.post-main {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px 0;
    border-bottom: 1px solid #e0e0e0;
}
.title-main {
    color: var(--dark-color);
    font-size: 30px;
    font-weight: 500;
}
.addit_info {
    display: flex;
    align-items: center;
    gap: 20px;
}
.date-main,
.tags-main {
    color: var(--dark-color);
    font-size: 20px;
    font-weight: 400;
}
.tags-main {
    color: var(--light);
}
.decor {
    width: 1px;
    height: 21px;
    background-color: black;
}
.text {
    color: var(--dark-color);
    font-size: 16px;
    font-weight: 400;
}

.post-light {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.title-light {
    color: var(--dark-color);
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 15px;
}
.date-light,
.tags-light {
    color: var(--dark-color);
    font-size: 18px;
    font-weight: 400;
}

/* adaptive */

@media (max-width: 700px) {
    .post-main {
    }
    .title-main {
        font-size: 26px;
        font-weight: 500;
    }
    .addit_info {
        display: flex;
        align-items: center;
        gap: 14px;
    }
    .date-main,
    .tags-main,
    .date-light,
    .tags-light {
        font-size: 16px;
    }
    .decor {
        height: 13px;
    }
    .title-light {
        font-size: 22px;
        font-weight: 500;
    }

}
