.page {
    width: 100%;
    margin-bottom: 50px;
}
.container {
    max-width: var(--content-size);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img {
    width: 70%;
    height: 400px;
    object-fit: cover;
}
.text {
    color: var(--dark-color);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}
