.page {
    width: 100%;
}
.container {
    max-width: var(--content-size);
    margin: 0 auto;
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}
.form_block {
    width: 50%;
}
.title {
    color: var(--dark-color);
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 30px;
}
.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 15px auto;
}
.input_text {
    border: none;
    outline: none;
    border-bottom: 1px solid var(--light);
    padding: 10px 5px;
    font-size: 18px;
}
.input_text::placeholder {
    color: var(--light);
    font-size: 18px;
}
.message {
    resize: none;
    outline: none;
    border: 1px solid var(--light);
    padding: 10px 5px;
    font-size: 18px;
    margin-top: 20px;
    border-radius: 5px;
}
.message::placeholder {
    color: var(--light);
    font-size: 18px;
}
.img {
    width: 50%;
    object-fit: contain;
}

@media (max-width: 900px) {
    .container {
        max-width: var(--single-page-size-mob);
        gap: 30px;
    }
}
@media (max-width: 700px) {
    .container {
        justify-content: center;
        align-items: center;
    }
    .form_block{
        width: 80%;
    }
    .img{
        display: none;
    }
}
